<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <!-- remove any machine-wide sources with <clear/> -->
        <clear />
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
        <add key="nddPrintPackages" value="https://tfs.ndd.tech/NDD-PrintCollection/_packaging/nddPrintPackages/nuget/v3/index.json" />
        <add key="NDK" value="https://tfs.ndd.tech/NDD-PDICollection/_packaging/NDDPackages/nuget/v3/index.json" />
        <add key="NDD-Legacy" value="https://tfs.ndd.tech/NDD-PDICollection/_packaging/NDDPackages-Legacy/nuget/v3/index.json" />
    </packageSources>
    <activePackageSource>
        <add key="All" value="(Aggregate source)" />
    </activePackageSource>
    <solution>
        <add key="disableSourceControlIntegration" value="true" />
    </solution>
</configuration>
