<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="internal-nlog-debug.txt">

	<targets>

		<!-- Logs CSV por empresa -->
		<target xsi:type="File"
				name="enterpriseCsv"
				fileName="logs/${event-properties:EnterpriseName}/${shortdate}.csv"
				archiveFileName="logs/${event-properties:EnterpriseName}/archives/{#}.csv"
				archiveEvery="Day"
				maxArchiveFiles="30"
				encoding="utf-8"
				writeBufferSize="0"
				layout="${longdate},${level},${event-properties:EnterpriseName},${message},${exception:tostring}" />

		<!-- Logs CSV geral -->
		<target xsi:type="File"
				name="generalCsv"
				fileName="logs/general/${shortdate}.csv"
				archiveFileName="logs/general/archives/{#}.csv"
				archiveEvery="Day"
				maxArchiveFiles="30"
				encoding="utf-8"
				writeBufferSize="0"
				layout="${longdate},${level},${message},${exception:tostring}" />

		<!-- Console sempre mostra -->
		<target xsi:type="Console"
				name="console"
				layout="[${level}] ${longdate} | ${event-properties:EnterpriseName} | ${message}" />
	</targets>

	<rules>

		<!-- Logs de empresa (EnterpriseName definido) -->
		<logger name="*" minlevel="Trace" writeTo="enterpriseCsv"
				condition="('${event-properties:EnterpriseName}'!='')" />

		<!-- Logs gerais (sem empresa definida / worker erros gerais) -->
		<logger name="*" minlevel="Warn" writeTo="generalCsv"
				condition="('${event-properties:EnterpriseName}'=='')" />

		<!-- Console sempre -->
		<logger name="*" minlevel="Info" writeTo="console" />
	</rules>
</nlog>
